In [1]:
#Import dependencies
import pandas as pd

In [2]:
#Read Attractions CSV file
attractions_df = pd.read_csv("../Resources/Attractions.csv")
attractions_df.head(2)

             name        lat         lng
0    Space Needle  47.620506 -122.349277
1  Seattle Center  47.621250 -122.349689

In [3]:
#Read addresses csv 
addresses_df=pd.read_csv("../Resources/Address_clean.csv")
addresses_df.head(2)

,listing_id,country_code,country,state,city,zipcode,smart_location,neighbourhood,street,latitude,longitude,is_location_exact
0,241032,US,United States,WA,Seattle,98119,"Seattle, WA",Queen Anne,"Gilman Dr W, Seattle, WA 98119, United States",47.636289,-122.371025,True
1,953595,US,United States,WA,Seattle,98119,"Seattle, WA",Queen Anne,"7th Avenue West, Seattle, WA 98119, United States",47.639123,-122.365666,True

In [5]:
# Import dependencies to calculate distance
from math import radians, cos, sin, asin, sqrt
from Haversine_Function import haversine

# Calculate average distance between listing and Seattle attractions, and append to dataframe

for index,eachaddressesrow in addresses_df.iterrows():
    list_of_lng_for_this_row=[]
    for index,eachattraction in attractions_df.iterrows():
        list_of_lng_for_this_row.append(addresses_df.apply(lambda row: haversine(
                                            eachattraction['lng'], 
                                            eachattraction['lat'], 
                                            row['longitude'], 
                                            row['latitude']), axis=1)
    )
    addresses_df["distance"]=sum(list_of_lng_for_this_row)/len(list_of_lng_for_this_row)
addresses_df

,listing_id,country_code,country,state,city,zipcode,smart_location,neighbourhood,street,latitude,longitude,is_location_exact,distance
0,241032,US,United States,WA,Seattle,98119,"Seattle, WA",Queen Anne,"Gilman Dr W, Seattle, WA 98119, United States",47.636289,-122.371025,True,528.948
1,953595,US,United States,WA,Seattle,98119,"Seattle, WA",Queen Anne,"7th Avenue West, Seattle, WA 98119, United States",47.639123,-122.365666,True,528.908
2,3308979,US,United States,WA,Seattle,98119,"Seattle, WA",Queen Anne,"West Lee Street, Seattle, WA 98119, United States",47.629724,-122.369483,True,528.664
3,7421966,US,United States,WA,Seattle,98119,"Seattle, WA",Queen Anne,"8th Avenue West, Seattle, WA 98119, United States",47.638473,-122.369279,True,528.976
4,278830,US,United States,WA,Seattle,98119,"Seattle, WA",Queen Anne,"14th Ave W, Seattle, WA 98119, United States",47.632918,-122.372471,True,528.868
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813,8101950,US,United States,WA,Seattle,98107,"Seattle, WA",Fremont,"Northwest 48th Street, Seattle, WA 98107, Unit...",47.664295,-122.359170,True,530.228
3814,8902327,US,United States,WA,Seattle,98102,"Seattle, WA",Portage Bay,"Fuhrman Avenue East, Seattle, WA 98102, United...",47.649552,-122.318309,True,529.544
3815,10267360,US,United States,WA,Seattle,98178,"Seattle, WA",NaN,"South Laurel Street, Seattle, WA 98178, United...",47.508453,-122.240607,False,539.456
3816,9604740,US,United States,WA,Seattle,98112,"Seattle, WA",NaN,"43rd Avenue East, Seattle, WA 98112, United St...",47.632335,-122.275530,False,530.720
3817,10208623,US,United States,WA,Seattle,98109,"Seattle, WA",Queen Anne,"Westlake Avenue North, Seattle, WA 98109, Unit...",47.641186,-122.342085,True,528.688

In [7]:
#Save new dataframe as CSV
addresses_df.to_csv("../Resources/Address_clean2.csv")